<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
    <form [formGroup]="cadastro" (ngSubmit)="salvar()" (ngReset)="resetar()" >
      <mat-card-content>
          <app-input-text titulo="Título *" [formGroup]="cadastro" controlName="titulo" ></app-input-text>
          <app-input-text titulo="Link Foto" [formGroup]="cadastro" controlName="urlFoto" ></app-input-text>
          <app-input-date titulo="Data de lançamento *" [formGroup]="cadastro" controlName="dtLancamento" ></app-input-date>
          <app-input-text-area titulo="Descrição" [formGroup]="cadastro" controlName="descricao" ></app-input-text-area>
          <app-input-number titulo="Nota IMDb *" [formGroup]="cadastro" controlName="nota" step="0.1"></app-input-number>
          <app-input-text titulo="Link IMDb" [formGroup]="cadastro" controlName="urlIMDb" ></app-input-text>
          
          <mat-form-field class="full-width">
            <mat-select placeholder="Gênero" name="genero" formControlName="genero">
              <mat-option value="Ação">Açao</mat-option>
              <mat-option value="Aventura">Aventura</mat-option>
              <mat-option value=">Ficção Científica">Ficção Científica</mat-option>
              <mat-option value="Romance">Romance</mat-option>
              <mat-option value="Terror">Terror</mat-option>
            </mat-select>
            <mat-error *ngIf="validacao.hasErrorValidate(f.genero,'required')">Campo Obrigatório</mat-error>
          </mat-form-field>
        
        </mat-card-content>
        
        <mat-card-actions>
          <button type="submit" color="accent" mat-raised-button>Salvar</button>
          <button type="reset" color="warn" mat-raised-button>Cancelar</button>
        </mat-card-actions>
      </form> 
    </mat-card> 
</div>
