<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
    <form [formGroup]="cadastro" (ngSubmit)="salvar()" (ngReset)="resetar()" >
      <mat-card-content>
          <app-input-text titulo="Título *" [formGroup]="cadastro" controlName="titulo" ></app-input-text>
          <app-input-text titulo="Link Foto" [formGroup]="cadastro" controlName="urlFoto" ></app-input-text>

          <mat-form-field class="full-width">
            <input 
              matInput 
              [matDatepicker]="picker"
              placeholder="Data de Lançamento" 
              name="dtLancamento" 
              formControlName="dtLancamento"
              readonly
              (click)="picker.open()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="validacao.hasErrorValidate(f.dtLancamento,'required')">Campo Obrigatório</mat-error>
            </mat-form-field>
          
          <app-input-text-area titulo="Descrição" [formGroup]="cadastro" controlName="descricao" ></app-input-text-area>
          
          <mat-form-field class="full-width">
            <input 
            matInput 
            placeholder="Nota IMDb" 
            name="nota" formControlName="nota"
            type="number"
            min="0"
            max="10"
            step="0.1">
            <mat-error *ngIf="validacao.hasErrorValidate(f.nota,'required')">Campo Obrigatório</mat-error>
            <mat-error *ngIf="validacao.hasErrorValidate(f.nota, 'minlength')">Nota mínima 0</mat-error>
            <mat-error *ngIf="validacao.hasErrorValidate(f.nota, 'maxlength')">Nota mínima 10</mat-error>
          </mat-form-field>
          
          <app-input-text titulo="Link IMDb" [formGroup]="cadastro" controlName="urlIMDb" ></app-input-text>
          
          <mat-form-field class="full-width">
            <mat-select placeholder="Gênero" name="genero" formControlName="genero">
              <mat-option value="Ação">Açao</mat-option>
              <mat-option value="Aventura">Aventura</mat-option>
              <mat-option value=">Ficção Científica">Ficção Científica</mat-option>
              <mat-option value="Romance">Romance</mat-option>
              <mat-option value="Terror">Terror</mat-option>
            </mat-select>
            <mat-error *ngIf="validacao.hasErrorValidate(f.genero,'required')">Campo Obrigatório</mat-error>
          </mat-form-field>
        
        </mat-card-content>
        
        <mat-card-actions>
          <button type="submit" color="accent" mat-raised-button>Salvar</button>
          <button type="reset" color="warn" mat-raised-button>Cancelar</button>
        </mat-card-actions>
      </form> 
    </mat-card> 
</div>
